{% extends "base.html" %}

{% block footer %}
<!-- Footer -->
<style>
    @import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
</style>
<footer class="page-footer font-small text-center text-muted" style="background-color: #0A0A0A;">
    <div class="text-center py-2 small"><small>This website is <a
                href="https://github.com/terrabasedb/docs">open-source</a>! Copyright © 2020 <a
                href="https://github.com/terrabasedb/terrabase/tree/next/AUTHORS.md">The TerrabaseDB Authors</a> and <a
                href="https://github.com/terrabasedb/docs/graphs/contributors">contributors</a>.</small>
    </div>
</footer>
{% endblock %}